aiohttp                    
aiosignal                 
altair                     
annotated-types            
anyio                      
attrs                      
bcrypt                     
blinker                   
boto3                      
botocore                   
cachetools                 
certifi                    
charset-normalizer         
click                     
dataclasses-json           
extra-streamlit-components 
faiss-cpu                  
frozenlist                 
gitdb                      
GitPython                  
idna                      
importlib-metadata         
Jinja2                     
jmespath                   
jsonpatch                  
jsonpointer                
jsonschema                 
jsonschema-specifications  
langchain                  
langchain-core             
langsmith                  
markdown-it-py             
MarkupSafe                 
marshmallow                
mdurl                      
multidict                  
mypy-extensions            
numpy                      
packaging                  
pandas                    
Pillow                     
pip                        
protobuf                   
pyarrow                    
pydantic                   
pydantic_core              
pydeck                     
Pygments                   
PyJWT                      
pypdfium2                  
python-dateutil            
pytz                       
PyYAML                     
referencing                
requests                   
rich                       
rpds-py                    
s3transfer                 
setuptools                 
six                        
smmap                      
sniffio                    
SQLAlchemy                 
streamlit                  
streamlit-authenticator    
swig                       
tenacity                  
toml                       
toolz                      
tornado                 
typing_extensions          
typing-inspect             
tzdata                   
tzlocal                   
urllib3                   
validators                
yarl                       
zipp                       